<section id="Inicio">
  <img src="./assets/images/stars.png" alt="stars" id="stars" />
  <img src="./assets/images/stars2.png" alt="stars2" id="stars2" />
  <img src="./assets/images/moon.png" alt="moon" id="moon" />
  <h2 id="text">Eid Mubarak</h2>
  <img src="./assets/images/rock.png" alt="rock" id="rock" />
  <img src="./assets/images/masjid.png" alt="masjid" id="masjid" />
  <img src="./assets/images/bottom.png" alt="bottom" id="bottom" />
  <img src="./assets/images/lamp.png" alt="lamp" id="lamp" />
</section>
