<section id="Inicio">
  <img src="./assets/images/stars.png" alt="stars" id="stars" />
  <img src="./assets/images/stars2.png" alt="stars2" id="stars2" />
  <img src="./assets/images/moon.png" alt="moon" id="moon" />
  <h2 id="text">Eid Mubarak</h2>
  <img src="./assets/images/rock.png" alt="rock" id="rock" />
  <img src="./assets/images/masjid.png" alt="masjid" id="masjid" />
  <img src="./assets/images/bottom.png" alt="bottom" id="bottom" />
  <img src="./assets/images/lamp.png" alt="lamp" id="lamp" />
</section>


<div class="sec">
  <h2>Happy eid mubarak to you and your family.</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
    perferendis cum dicta, itaque maiores facere et nam blanditiis beatae
    magni, enim sed odit expedita dolores illum in, officia eveniet
    necessitatibus.
    <br /><br />
    Quas nisi eum quod quasi at dolore impedit vitae delectus, officia neque
    in totam sunt pariatur distinctio architecto sit maiores omnis
    aspernatur quidem error exercitationem, corrupti doloribus. Quos
    inventore minus accusamus nesciunt, ut quaerat quam illum vel itaque
    maiores magni repellat esse dolor autem quis mollitia, eaque nobis sint
    ullam unde fugit? Laborum ex atque quia, necessitatibus, vel eius quos
    exercitationem veniam facilis dolorem debitis deserunt dolores mollitia
    labore rerum impedit deleniti amet repellendus expedita possimus eos
    voluptate consequatur nesciunt! Quae, ratione.
    <br /><br />
    Ad soluta ducimus amet minima voluptate, impedit asperiores excepturi
    illum optio debitis! Mollitia facere neque voluptates minima ab numquam
    ipsa aut cumque iusto pariatur ex amet dolorum alias, vero consequuntur
    tenetur cum nihil sed modi aperiam molestiae perspiciatis doloribus
    quibusdam odio? Nihil ipsa assumenda omnis rem? Asperiores ab, corporis
    inventore cupiditate suscipit laudantium optio! Fugit ab, rerum ipsum
    eaque velit hic mollitia soluta voluptatum cumque iusto ad voluptates
    illum dolore perferendis neque laborum accusamus dolores odio dicta
    autem maiores at? Magni veniam consectetur modi nesciunt nulla sequi
    quia!
    <br /><br />
    Ad soluta ducimus amet minima voluptate, impedit asperiores excepturi
    illum optio debitis! Mollitia facere neque voluptates minima ab numquam
    ipsa aut cumque iusto pariatur ex amet dolorum alias, vero consequuntur
    tenetur cum nihil sed modi aperiam molestiae perspiciatis doloribus
    quibusdam odio? Nihil ipsa assumenda omnis rem? Asperiores ab, corporis
    inventore cupiditate suscipit laudantium optio! Fugit ab, rerum ipsum
    eaque velit hic mollitia soluta voluptatum cumque iusto ad voluptates
    illum dolore perferendis neque laborum accusamus dolores odio dicta
    autem maiores at? Magni veniam consectetur modi nesciunt nulla sequi
    quia!
    <br /><br />
    Ad soluta ducimus amet minima voluptate, impedit asperiores excepturi
    illum optio debitis! Mollitia facere neque voluptates minima ab numquam
    ipsa aut cumque iusto pariatur ex amet dolorum alias, vero consequuntur
    tenetur cum nihil sed modi aperiam molestiae perspiciatis doloribus
    quibusdam odio? Nihil ipsa assumenda omnis rem? Asperiores ab, corporis
    inventore cupiditate suscipit laudantium optio! Fugit ab, rerum ipsum
    eaque velit hic mollitia soluta voluptatum cumque iusto ad voluptates
    illum dolore perferendis neque laborum accusamus dolores odio dicta
    autem maiores at? Magni veniam consectetur modi nesciunt nulla sequi
    quia!
  </p>
</div>

<section class="contact">
  <div class="content">
    <h2>Contáctanos</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. <br />
      Perspiciatis similique porro iste!
    </p>
  </div>
  <div class="container">
    <div class="contactInfo">
      <div class="box">
        <div class="icon">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <div class="text">
          <h3>Dirección</h3>
          <p>
            Carrera 7L bis # 65a - 15
            <br /><strong>Las Ceibas</strong> <br />760011
          </p>
        </div>
      </div>
      <div class="box">
        <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
        <div class="text">
          <h3>Teléfono</h3>
          <p>+(57) 315 215 00 74</p>
        </div>
      </div>
      <div class="box">
        <div class="icon">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </div>
        <div class="text">
          <h3>Email</h3>
          <p>gruasocci@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="contactForm">
      <form>
        <h2>Enviar Mensaje</h2>
        <div class="inputBox">
          <input type="text" name="" required="required" />
          <span>Nombre Completo</span>
        </div>
        <div class="inputBox">
          <input type="text" name="" required="required" />
          <span>Email</span>
        </div>
        <div class="inputBox">
          <textarea required></textarea>
          <span>Escribir mensaje</span>
        </div>
        <div class="inputBox">
          <input type="submit" value="Enviar" />
        </div>
      </form>
    </div>
  </div>
</section>
